.background-image{
    background-image: url("https://static3.depositphotos.com/1003473/160/i/450/depositphotos_1601892-stock-photo-blue-wavy-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}